{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h3>Password Entries</h3>
<h5>Click on any of the website names to reveal the password.</h5>

<button type="button" class="btn btn-info mt-3" onclick="location.href='/password_entry/'">
  Create Entry
</button>

<table class="table password-entries">
  <thead>
    <tr>
      <th scope="col">Website name</th>
      <th scope="col">Website address</th>
      <th scope="col">Username</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for password_entry in password_entries %}
    <tr class="password-entry">
      <td class="website-name" onclick="window.location='/password_entry/' + {{ password_entry.id }} + '/'">
        {{ password_entry.website_name }}
      </td>
      <td>{{ password_entry.website_address }}</td>
      <td>{{ password_entry.username }}</td>
      <td>
        <a href="/password_entry/{{ password_entry.id }}/delete/">
          Delete
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination justify-content-center">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>

{% endblock %}
